@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Olá Aluno! Seja bem vindo.</h1>

</hr>

<button type="button" class="btn btn-primary">Contato</button>
<button type="button" class="btn btn-primary">Informações</button>
