@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Olá Aluno! Seja bem vindo.</h1>

<button type="button" class="btn btn-primary">Cadastrar</button>
<button type="button" class="btn btn-secondary">Excluir</button>

<button type="button" class="btn btn-link">Link</button>

